h1 {
    font-family: 'Dr Sugiyama', cursive;
    font-size: 100px;
    text-align: center;
}

h3 {
    font-family: 'Short Stack', cursive;
}

h4 {
    font-family: 'Short Stack', cursive;
}

header {
    text-align: center;
}